<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cadastro de Produtos</title>
  </head>
  <body>
      <h1>Cadastro de Produtos</h1>
      <form action="" method="post" id="form">
          <div>
              <label for="title">Titulo</lebel>
              <input type="text" name="title" id="title" autofocus="autofocus"/>
          </div>
          <div>
              <label for="description">Descrição</label>
              <textarea rows="10" cols="20" name="description" id="description"></textarea>
          </div>
          <div>
              <label for="pages">Número de páginas</lebel>
              <input type="text" name="pages" id="pages"/>
          </div>
          <div>
              <input type="submit" value="Enviar">
          </div>
      </form>
  </body>
</html>